body {
    margin: 0;
    background-color: #222;

}

h1{
    color: #bbb;
    font-family: Consolas;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 1em auto 1em auto; 
}

.c {
    margin: auto;
    max-width: 500px;
    height: 500px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.row {
    width:300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell img {
    width: 90px;
    height: 90px;
}

.line {
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: none;
    top: 50px;
}

.winText{
    font-size: 62px;
    display: flex;
    color: #bbb;
    font-family: Consolas;
    font-weight: bold;
    align-items: center;
    height: 70px;
    cursor: context-menu;
}

.winText img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.resetB {
    background-color: none;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    box-shadow: 0 0 6px #000;
    color: #bbb;
    font-family: Consolas;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.resetB:active{
    box-shadow: inset 0 0 6px 0 #000;
}

.resetB::selection{
    background-color: none;
}
